<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<section
	class="login p-fixed d-flex text-center bg-primary common-img-bg">
	<!-- starts -->
	<div class="auth-fluid">
		<div class="row">
			<div class="col-sm-12">
				<!-- Authentication card start -->
				<div class="login-card card-body auth-body">

					<form name="form">
						<div class="auth-box">
							<h1 class="text-info">Votre Compte a été crée avec succès. Cliquez <small class="text-success" [routerLink]="['/authentication/login']"> ici </small> pour vous connecter</h1>							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>