<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div class="row">
  <div class="col-sm-12">
    <!-- Basic table card start -->
    <app-card class="icofont icofont-map-marker" [title]="'Ajout Transport'" [classHeader]="true" [blockClass]="'table-border-style'">
        
        <div class="table-responsive">
         <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
          <div style="font-size: 13px" id="fiche" class="card-body row">
          
            <div class="col-sm-10" style="font-size: 13px">
            
              <div class="row spacer">
                <div class="col-auto">
                  <label style="font-family: verdana">escale:</label>
                
                  <div class="input-group mb">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="icofont icofont-map-marker"></i></div>
                    </div>
                    <select style="font-size: 13px;font-family: verdana" type="text" name="type" id="escale" class="form-control"
									 [(ngModel)]="bateau.escale" #escale="ngModel" required>
										<option value="escale">true</option>
										<option value="escale">false</option></select>
                  </div>
                </div>
                <div class="col-auto">
                  <label style="font-family: verdana">Départ:</label>
                    <input style="font-size: 13px;font-family: verdana" type="date" class="form-control" id="date_Depart" placeholder="date_Depart"
                           name="date_Depart" [(ngModel)]="bateau.date_Depart" #date_Depart="ngModel"
										required>
                </div>
                <div class="col-auto">
                  <label style="font-family: verdana">A</label>
                 
                    <input style="font-size: 13px;font-family: verdana" type="time" class="form-control" id="heure_Depart" placeholder="heure_Depart"
                     name="heure_Depart" [(ngModel)]="bateau.heure_Depart" #heure_Depart="ngModel"
										required>
                  
                </div>
              </div>
              <div class="row spacer">
                <div class="col-auto">
                  <label style="font-family: verdana">Arrivé:</label>
                    <input style="font-size: 13px;font-family: verdana" type="date" class="form-control" id="date_Arrive" placeholder="date_Arrive"
                    name="date_Arrive" [(ngModel)]="bateau.date_Arrive" #date_Arrive="ngModel"
										required>
                </div>
                <div class="col-auto">
                  <label style="font-family: verdana">A</label>
                 
                    <input style="font-size: 13px;font-family: verdana" type="time" class="form-control" id="heure_Arrive" placeholder="heure_Arrive"
                    name="heure_Arrive" [(ngModel)]="bateau.heure_Arrive" #heure_Arrive="ngModel"
										required>
                  
                </div>
                <div class="col-auto">
                  <label style="font-family: verdana">Prix:</label>
                  <div class="input-group mb">
                    <div class="input-group-prepend">
                      <div class="input-group-text"></div>
                    </div>
                    <input style="font-size: 13px;font-family: verdana" type="text" class="form-control" id="prix" placeholder="prix"
                    name="prix" [(ngModel)]="bateau.prix" #prix="ngModel"
										required>
                  </div>
                </div>
              </div>
              <div class="row spacer">
                <div class="col-auto">
                  <label style="font-family: verdana">Quai de depart:</label>
					    <input style="font-size: 13px;font-family: verdana" type="text" class="form-control" id="quai_Depart" placeholder="quai_Depart"
					     name="quai_Depart" [(ngModel)]="bateau.quai_Depart" #quai_Depart="ngModel"
										required>

                </div>
                <div class="col-auto">
                  <label style="font-family: verdana">Quai d'arrivé:</label>
                  <div class="input-group mb">
                    <div class="input-group-prepend">
                      <div class="input-group-text"></div>
                    </div>
                    <input style="font-size: 13px;font-family: verdana" type="text" class="form-control" id="quai_Arrive" placeholder="quai_Arrive"
                    name="quai_Arrive" [(ngModel)]="bateau.quai_Arrive" #quai_Arrive="ngModel"
										required>
                  </div>
                </div>
                <div class="col-auto">
                  <label style="font-family: verdana">Aéroport d'arrivé</label>
                  <div class="input-group mb">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="icofont icofont-handshake-o"></i></div>
                    </div>
                    <input style="font-size: 13px;font-family: verdana" type="text" class="form-control" id="societe" placeholder="societe">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
          <button class="btn btn-primary btn-round" style="height: 30px;text-align: center;padding-top: 5px;margin-left: 80%;margin-top: 10px;margin-bottom: 10px">Ajouter voyage</button>
          </div>
          <div>
        <a
												[routerLink]="['/authentication/register']"> Créez en un </a>
											
        </div>
          </form>
        </div>
        
    </app-card>
    <!-- Basic table card end -->
    <!-- Inverse table card start -->

    <!-- Inverse table card end -->
    <!-- Hover table card start 
    
    <div>
                  <app-bateau>
                  </app-bateau>
                  </div>-->

    <!-- Hover table card end -->
    <!-- Contextual classes table starts -->
    
    <!-- Contextual classes table ends -->
    <!-- Background Utilities table start -->
   
    <!-- Background Utilities table end -->
  </div>
  
</div>
  
