<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div class="row">
	<div class="col-lg-4" *ngFor="let a of autocars">
		<div class="row">
			<div class="col-lg-12">
				<div class="card card-border-primary">
					<div class="card-header">
						<h5>{{a.libelle}}</h5>
					</div>
					<div class="card-block">
						<div class="row">
							<div class="col-sm-6">
								<ul class="list list-unstyled">
									<li>Prix:</li>
									<li>Départ le: <span class="text-semibold"><br><b>{{a.date_Depart}}</b></span></li>
									<li>Arrivée le: <span class="text-semibold"><br><b>{{a.date_Arrive}}</b></span></li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul class="list list-unstyled text-right">
									<li><b>{{a.prix}}€</b></li>
									<li>Heure de Départ: <span class="text-semibold">{{a.heure_Depart}}</span></li>
									<li>Heure d'arrivée: <span class="text-semibold">{{a.heure_Arrive}}</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<div class="task-list-table">
							<p class="task-due">
								<strong> Due : </strong><strong class="label label-success">23
									hours</strong>
							</p>
						</div>
						<div class="task-board m-0">
							<a href="javascript:" class="btn btn-info btn-mini b-none"><i
								class="icofont icofont-eye-alt m-0" (click)="modalACdetails(ac, acModal)"></i></a>
								<a href="javascript:" class="btn btn-info btn-mini b-none"><i
									class="icofont icofont-travelling m-0" (click)="save(a)"> Reserver</i></a>
							<!-- end of dropdown-secondary -->
							<div ngbDropdown class="dropdown-secondary dropdown">
								<button ngbDropdownToggle
									class="btn btn-info btn-mini dropdown-toggle waves-light b-none txt-muted"
									type="button" id="dropdown3" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									<i class="icofont icofont-navigation-menu"></i>
								</button>
								<div ngbDropdownMenu class="dropdown-menu"
									aria-labelledby="dropdown3" data-dropdown-in="fadeIn"
									data-dropdown-out="fadeOut">
									<a class="dropdown-item waves-light waves-effect"
										href="javascript:"><i class="icofont icofont-ui-alarm"></i>
										Print Invoice</a> <a
										class="dropdown-item waves-light waves-effect"
										href="javascript:"><i class="icofont icofont-attachment"></i>
										Download invoice</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item waves-light waves-effect"
										href="javascript:"><i
										class="icofont icofont-spinner-alt-5"></i> Edit Invoice</a> <a
										class="dropdown-item waves-light waves-effect"
										href="javascript:"><i class="icofont icofont-ui-edit"></i>
										Remove Invoice</a>
								</div>
								<!-- end of dropdown menu -->
							</div>
							<!-- end of seconadary -->
						</div>
						<!-- end of pull-right class -->
					</div>
					<!-- end of card-footer -->
				</div>
			</div>
		</div>
		
		<!-- Debut Modal Details -->

						<ng-template #acModal>
						<div class="modal-header" style="background-color: #28e1bd;">
							<h4 class="modal-title">
								Informations complémentaires sur: <b>{{a.libelle}}</b>
							</h4>
						</div>
						<div class="modal-body">
							<div>
								Ville de Depart :<b></b>
							</div>
							<div>
								Pays d'arrivée : <b></b>
							</div>
							<div>
								Date de Départ : <b>{{a.date_Depart}}</b>
							</div>
							<div>
								Date d'arrivée : <b></b>
							</div>
							<div>
								Heure de Départ : <b></b>
							</div>
							<div>
								Heure d'arrivée : <b></b>
							</div>
							<div>
								Prix : <b></b>
							</div>
							<div>
								Gare de Depart : <b></b>
							</div>
							<div>
								Gare D'arrivée : <b></b>
							</div>							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default">Close</button>
						</div>
						</ng-template>

						<!-- Fin Modal Details -->
	</div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>


