<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div class="row">
	<div class="col-sm-6" style="margin-top: 18px;">
		<div ngbDropdown class="dropdown-success dropdown open">
			<button ngbDropdownToggle
				class="btn btn-success dropdown-toggle waves-effect waves-light"
				type="button" id="dropdown-3" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="true">Rechercher :</button>
			<div ngbDropdownMenu class="dropdown-menu"
				aria-labelledby="dropdown-3" data-dropdown-in="fadeIn"
				data-dropdown-out="fadeOut">
				<a class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;">Client</a><a
					class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;">Evenement</a> <a
					class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;">Hebergement</a>
			</div>
		</div>
	</div>
<!-- 	<div class="col-sm-12"> -->
<!-- 		<!-- Basic table card start --> -->
<!-- 		<app-card class="icofont icofont-map-marker" -->
<!-- 			[title]="'Que souhaitez vous rechercher?'" [classHeader]="true" -->
<!-- 			[blockClass]="'table-border-style'"> -->
			
			
<!-- 			</app-card> -->
<!-- 			</div>			 -->
	</div>