/* input[type=text] { */
/*     width: 130px; */
/*     -webkit-transition: width 0.4s ease-in-out; */
/*     transition: width 0.4s ease-in-out; */
/* } */

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

#myInput {
  background-image: url("C:/Users/Clement Bannem/Downloads/698956-icon-111-search-128.png");
  background-position: -2px -2px;
  background-repeat: no-repeat;
  background-size:45px;
  width: 20%;
  font-size: 13px;
  padding: 8px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#customers tr:nth-child(even){background-color: white;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1abc9c;
    color: white;
    text-align: center;
}