<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div class="row">
	<div class="col-sm-6" style="margin-top: 18px;">
		<div ngbDropdown class="dropdown-success dropdown open">
			<button ngbDropdownToggle
				class="btn btn-success dropdown-toggle waves-effect waves-light"
				type="button" id="dropdown-3" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="true">Ajouter un
				Transport</button>
			<div ngbDropdownMenu class="dropdown-menu"
				aria-labelledby="dropdown-3" data-dropdown-in="fadeIn"
				data-dropdown-out="fadeOut">
				<a class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;" (click)="verA(a, aModal)">Avion</a> <a
					class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;" (click)="verAC(ac, acModal)">AutoCar</a> <a
					class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;" (click)="ver(b, bModal)">Bateau</a> <a
					class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;" (click)="verT(t, tModal)">Train</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<!-- Basic table card start -->
		<app-card class="icofont icofont-map-marker"
			[title]="'Ajout Transport'" [classHeader]="true"
			[blockClass]="'table-border-style'">

		<div class="table">

			<!-- Ajout Bateau -->

			<ng-template #bModal>
			<div class="modal-header" style="background-color: #28e1bd;">
				<h4 class="modal-title">Bateau</h4>
				<button type="button" class="btn cancel" data-dismiss="modal"
					 aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" (ngSubmit)="f.form.valid && save({title:'Message de confirmation', msg:'Transport ajouté avec succès'
				, timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'success'})" #f="ngForm"
					novalidate>
					<div style="font-size: 13px" id="fiche" class="card-body row">

						<div class="col-sm-10" style="font-size: 13px">

							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Escale (Avec/Sans):</label>

									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="icofont icofont-map-marker"></i>
											</div>
										</div>
										<select style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="escale" class="form-control"
											[(ngModel)]="bateau.escale" #escale="ngModel" required>
											<option>Veuillez Choisir</option>
											<option value="Avec">Avec</option>
											<option value="Sans">Sans</option>
										</select>
									</div>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Date de Départ:</label> <input
										style="font-size: 13px; font-family: verdana" type="date"
										class="form-control" id="date_Depart" name="date_Depart"
										[(ngModel)]="bateau.date_Depart" #date_Depart="ngModel"
										required>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Heure de Départ</label> <input
										style="font-size: 13px; font-family: verdana" type="time"
										class="form-control" id="heure_Depart" name="heure_Depart"
										[(ngModel)]="bateau.heure_Depart" #heure_Depart="ngModel"
										required>

								</div>
							</div>
							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Date d'arrivée:</label> <input
										style="font-size: 13px; font-family: verdana" type="date"
										class="form-control" id="date_Arrive" name="date_Arrive"
										[(ngModel)]="bateau.date_Arrive" #date_Arrive="ngModel"
										required>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Heure D'arrivée</label> <input
										style="font-size: 13px; font-family: verdana" type="time"
										class="form-control" id="heure_Arrive" name="heure_Arrive"
										[(ngModel)]="bateau.heure_Arrive" #heure_Arrive="ngModel"
										required>

								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Prix:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" class="form-control" id="prix" name="prix"
											[(ngModel)]="bateau.prix" #prix="ngModel" required>
									</div>
								</div>
							</div>
							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Quai de depart:</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										class="form-control" id="quai_Depart" name="quai_Depart"
										[(ngModel)]="bateau.quai_Depart" #quai_Depart="ngModel"
										required>

								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Quai d'arrivé:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" class="form-control" id="quai_Arrive"
											name="quai_Arrive" [(ngModel)]="bateau.quai_Arrive"
											#quai_Arrive="ngModel" required>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px"
							class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						<div class="row">
							<button class="btn btn-primary"
								style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px">Ajouter
								voyage</button>
						</div>


					</div>
				</form>
			</div>
			</ng-template>

			<!-- Fin Bateau -->

			<!-- Ajout Avion -->

			<ng-template #aModal>
			<div class="modal-header" style="background-color: #28e1bd;">
				<h4 class="modal-title">Avion</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" (ngSubmit)="fAv.form.valid && saveAv({title:'Message de confirmation', msg:'Transport ajouté avec succès'
				, timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'success'})"
					#fAv="ngForm" novalidate>
					<div style="font-size: 13px" id="fiche" class="card-body row">

						<div class="col-sm-10" style="font-size: 13px">

							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Escale (Avec/Sans):</label>

									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="icofont icofont-map-marker"></i>
											</div>
										</div>
										<select style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="escale" class="form-control"
											[(ngModel)]="avion.escale" #escale="ngModel" required>
											<option value="Avec">Avec</option>
											<option value="Sans">Sans</option>
										</select>
									</div>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Départ:</label> <input
										style="font-size: 13px; font-family: verdana" type="date"
										class="form-control" id="date_Depart"
										placeholder="date_Depart" name="date_Depart"
										[(ngModel)]="avion.date_Depart" #date_Depart="ngModel"
										required>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">A</label> <input
										style="font-size: 13px; font-family: verdana" type="time"
										class="form-control" id="heure_Depart"
										placeholder="heure_Depart" name="heure_Depart"
										[(ngModel)]="avion.heure_Depart" #heure_Depart="ngModel"
										required>

								</div>
							</div>
							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Arrivé:</label> <input
										style="font-size: 13px; font-family: verdana" type="date"
										class="form-control" id="date_Arrive"
										placeholder="date_Arrive" name="date_Arrive"
										[(ngModel)]="avion.date_Arrive" #date_Arrive="ngModel"
										required>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">A</label> <input
										style="font-size: 13px; font-family: verdana" type="time"
										class="form-control" id="heure_Arrive"
										placeholder="heure_Arrive" name="heure_Arrive"
										[(ngModel)]="avion.heure_Arrive" #heure_Arrive="ngModel"
										required>

								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Prix:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" class="form-control" id="prix" placeholder="prix"
											name="prix" [(ngModel)]="avion.prix" #prix="ngModel" required>
									</div>
								</div>
							</div>
							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Aeroport de depart:</label>
									<input style="font-size: 13px; font-family: verdana"
										type="text" class="form-control" id="Aeroport_Depart"
										name="Aeroprt_Depart" [(ngModel)]="avion.aeroport_Depart"
										#aeroport_Depart="ngModel" required>

								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Aeroport d'arrivé:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" class="form-control" id="Aeroport_Arrive"
											name="Aeroport_Arrive" [(ngModel)]="avion.aeroport_Arrive"
											#aeroport_Arrive="ngModel" required>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="modal-footer">
						<div class="row">
							<button class="btn btn-primary"
								style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px">Ajouter
								voyage</button>
						</div>
					</div>
				</form>
			</div>
			</ng-template>

			<!-- Fin Avion -->

			<!-- Ajout Autocar -->

			<ng-template #acModal>
			<div class="modal-header" style="background-color: #28e1bd;">
				<h4 class="modal-title">Autocar</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" (ngSubmit)="f.form.valid && saveAC({title:'Message de confirmation', msg:'Transport ajouté avec succès'
				, timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'success'})" #f="ngForm"
					novalidate>
					<div style="font-size: 13px" id="fiche" class="card-body row">

						<div class="col-sm-10" style="font-size: 13px">

							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">escale:</label>

									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="icofont icofont-map-marker"></i>
											</div>
										</div>
										<select style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="escale" class="form-control"
											[(ngModel)]="autocar.escale" #escale="ngModel" required>
											<option value="Avec">Avec</option>
											<option value="Sans">Sans</option>
										</select>
									</div>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Départ:</label> <input
										style="font-size: 13px; font-family: verdana" type="date"
										class="form-control" id="date_Depart"
										placeholder="date_Depart" name="date_Depart"
										[(ngModel)]="autocar.date_Depart" #date_Depart="ngModel"
										required>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">A</label> <input
										style="font-size: 13px; font-family: verdana" type="time"
										class="form-control" id="heure_Depart"
										placeholder="heure_Depart" name="heure_Depart"
										[(ngModel)]="autocar.heure_Depart" #heure_Depart="ngModel"
										required>

								</div>
							</div>
							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Arrivé:</label> <input
										style="font-size: 13px; font-family: verdana" type="date"
										class="form-control" id="date_Arrive"
										placeholder="date_Arrive" name="date_Arrive"
										[(ngModel)]="autocar.date_Arrive" #date_Arrive="ngModel"
										required>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">A</label> <input
										style="font-size: 13px; font-family: verdana" type="time"
										class="form-control" id="heure_Arrive"
										placeholder="heure_Arrive" name="heure_Arrive"
										[(ngModel)]="autocar.heure_Arrive" #heure_Arrive="ngModel"
										required>

								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Prix:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" class="form-control" id="prix" placeholder="prix"
											name="prix" [(ngModel)]="autocar.prix" #prix="ngModel"
											required>
									</div>
								</div>
							</div>
							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Gare auto de
										depart:</label> <input style="font-size: 13px; font-family: verdana"
										type="text" class="form-control" id="quai_Depart"
										name="quai_Depart" [(ngModel)]="autocar.gareAC_Depart"
										#gareAC_Depart="ngModel" required>

								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Gare auto d'arrivé:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" class="form-control" id="quai_Arrive"
											name="quai_Arrive" [(ngModel)]="autocar.gareAC_Arrive"
											#gareAC_Arrive="ngModel" required>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="row">
							<button class="btn btn-primary"
								style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px">Ajouter
								voyage</button>
						</div>
					</div>
				</form>
			</div>
			</ng-template>

			<!-- Fin Autocar -->

			<!-- Ajout Train -->

			<ng-template #tModal>
			<div class="modal-header" style="background-color: #28e1bd;">
				<h4 class="modal-title">Train</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" (ngSubmit)="f.form.valid && saveT({title:'Message de confirmation', msg:'Transport ajouté avec succès'
				, timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'success'})" #f="ngForm"
					novalidate>
					<div style="font-size: 13px" id="fiche" class="card-body row">

						<div class="col-sm-10" style="font-size: 13px">

							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">escale:</label>

									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="icofont icofont-map-marker"></i>
											</div>
										</div>
										<select style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="escale" class="form-control"
											[(ngModel)]="train.escale" #escale="ngModel" required>
											<option value="escale">true</option>
											<option value="escale">false</option>
										</select>
									</div>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Départ:</label> <input
										style="font-size: 13px; font-family: verdana" type="date"
										class="form-control" id="date_Depart"
										placeholder="date_Depart" name="date_Depart"
										[(ngModel)]="train.date_Depart" #date_Depart="ngModel"
										required>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">A</label> <input
										style="font-size: 13px; font-family: verdana" type="time"
										class="form-control" id="heure_Depart"
										placeholder="heure_Depart" name="heure_Depart"
										[(ngModel)]="train.heure_Depart" #heure_Depart="ngModel"
										required>

								</div>
							</div>
							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Arrivé:</label> <input
										style="font-size: 13px; font-family: verdana" type="date"
										class="form-control" id="date_Arrive"
										placeholder="date_Arrive" name="date_Arrive"
										[(ngModel)]="train.date_Arrive" #date_Arrive="ngModel"
										required>
								</div>
								<div class="col-auto">
									<label style="font-family: verdana">A</label> <input
										style="font-size: 13px; font-family: verdana" type="time"
										class="form-control" id="heure_Arrive"
										placeholder="heure_Arrive" name="heure_Arrive"
										[(ngModel)]="train.heure_Arrive" #heure_Arrive="ngModel"
										required>

								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Prix:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" class="form-control" id="prix" placeholder="prix"
											name="prix" [(ngModel)]="train.prix" #prix="ngModel" required>
									</div>
								</div>
							</div>
							<div class="row spacer">
								<div class="col-auto">
									<label style="font-family: verdana">Gare de depart:</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										class="form-control" id="quai_Depart" name="quai_Depart"
										[(ngModel)]="train.gare_Depart" #gare_Depart="ngModel"
										required>

								</div>
								<div class="col-auto">
									<label style="font-family: verdana">Gare d'arrivé:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" class="form-control" id="quai_Arrive"
											name="quai_Arrive" [(ngModel)]="train.gare_Arrive"
											#gare_Arrive="ngModel" required>
									</div>
								</div>

							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="row">
					<button class="btn btn-primary"
						style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px">Ajouter
						voyage</button>
				</div>
			</div>
			</ng-template>


			<!-- Fin Train -->

			<form>
				<div style="font-size: 13px" id="fiche" class="card-body row">

					<div class="col-sm-12" style="font-size: 13px">
						<div class="form-group row">

							<div class="col-sm-3">
								<label style="font-family: verdana">Titre:</label>
								<div style="font-size: 13px" class="input-group mb">
									<div class="input-group-prepend">
										<div class="input-group-text"></div>
									</div>
									<input style="font-size: 13px" type="text" class="form-control"
										id="adresse" placeholder="Titre">
								</div>
							</div>

						</div>
					</div>
				</div>
			</form>

			<!-- tableau -->

		</div>
		</app-card>

		<!-- affiche autocar -->

		<app-card [title]="'Liste des voyages en Autocar'"
			[classHeader]="true" [blockClass]="'table-border-style'">

		<div class="table-responsive">
			<table class="table table-hover" id="autocars">
				<thead class="bg-primary">
					<tr>

						<td>Voyage N°</td>
						<td>Départ le</td>
						<td>Arrivée le</td>
						<td>Heure de Départ</td>
						<td>Heure d'arrivée</td>
						<td>Escale</td>
						<td>Prix</td>
						<td>Gare de départ</td>
						<td>Gare d'arrivé</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let a of autocars" class="table-inactive"
						style="cursor: pointer;">

						<td>{{a.id}}</td>
						<td>{{a.date_Depart}}</td>
						<td>{{a.date_Arrive}}</td>
						<td>{{a.heure_Depart}}</td>
						<td>{{a.heure_Arrive}}</td>
						<td>{{a.escale}}</td>
						<td>{{a.prix}}</td>
						<td>{{a.gareAC_Depart}}</td>
						<td>{{a.gareAC_Arrive}}</td>
						<td><a class="btn btn-primary" style="padding: 1px 2px;"
							href="#"><i class="icofont icofont-pencil"
								style="font-size: 20px"></i></a> <a class="btn btn-danger"
							style="padding: 1px 2px;" (click)="deleteAutocar(a)"><i
								class="icofont icofont-bin" style="font-size: 20px"></i></a></td>

					</tr>
				</tbody>
			</table>
		</div>
		</app-card>

		<!-- affiche avion -->

		<app-card [title]="'Liste des voyages en Avion'" [classHeader]="true"
			[blockClass]="'table-border-style'">

		<div class="table-responsive">
			<table class="table table-hover" id="avions">
				<thead class="bg-primary">
					<tr>

						<td>Voyage N°</td>
						<td>Départ le</td>
						<td>Arrivée le</td>
						<td>Heure de Départ</td>
						<td>Heure d'arrivée</td>
						<td>Escale</td>
						<td>Prix</td>
						<td>Aeroport de départ</td>
						<td>Aeroport d'arrivé</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let av of avions" class="table-inactive"
						style="cursor: pointer;">

						<td>{{av.id}}</td>
						<td>{{av.date_Depart}}</td>
						<td>{{av.date_Arrive}}</td>
						<td>{{av.heure_Depart}}</td>
						<td>{{av.heure_Arrive}}</td>
						<td>{{av.escale}}</td>
						<td>{{av.prix}}</td>
						<td>{{av.aeroport_Depart}}</td>
						<td>{{av.aeroport_Arrive}}</td>
						<td><a class="btn btn-primary" style="padding: 1px 2px;"
							href="#"><i class="icofont icofont-pencil"
								style="font-size: 20px"></i></a> <a class="btn btn-danger"
							style="padding: 1px 2px;"><i
								class="icofont icofont-bin" style="font-size: 20px"></i></a></td>

					</tr>
				</tbody>
			</table>
		</div>
		</app-card>

		<!-- affiche bateaux -->

		<app-card [title]="'Liste des voyages en bateau'" [classHeader]="true"
			[blockClass]="'table-border-style'">

		<div class="table-responsive">
			<table class="table table-hover" id="bateaux">
				<thead class="bg-primary">
					<tr>

						<td>Voyage N°</td>
						<td>Départ le</td>
						<td>Arrivée le</td>
						<td>Heure de Départ</td>
						<td>Heure d'arrivée</td>
						<td>Escale</td>
						<td>Prix</td>
						<td>Aeroport de départ</td>
						<td>Aeroport d'arrivé</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let b of bateaux" class="table-inactive"
						style="cursor: pointer;">

						<td>{{b.id}}</td>
						<td>{{b.date_Depart}}</td>
						<td>{{b.date_Arrive}}</td>
						<td>{{b.heure_Depart}}</td>
						<td>{{b.heure_Arrive}}</td>
						<td>{{b.escale}}</td>
						<td>{{b.prix}}</td>
						<td>{{b.quai_Depart}}</td>
						<td>{{b.quai_Arrive}}</td>
						<td><a class="btn btn-primary" style="padding: 1px 2px;"
							href="#"><i class="icofont icofont-pencil"
								style="font-size: 20px"></i></a> <a class="btn btn-danger"
							style="padding: 1px 2px;" (click)="deleteBateau(b)"><i
								class="icofont icofont-bin" style="font-size: 20px"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		</app-card>

		<!-- affiche bateaux -->

		<app-card [title]="'Liste des voyages en train'" [classHeader]="true"
			[blockClass]="'table-border-style'">

		<div class="table-responsive">
			<table class="table table-hover" id="bateaux">
				<thead class="bg-primary">
					<tr>

						<td>Voyage N°</td>
						<td>Départ le</td>
						<td>Arrivée le</td>
						<td>Heure de Départ</td>
						<td>Heure d'arrivée</td>
						<td>Escale</td>
						<td>Prix</td>
						<td>Aeroport de départ</td>
						<td>Aeroport d'arrivé</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let t of trains" class="table-inactive"
						style="cursor: pointer;">

						<td>{{t.id}}</td>
						<td>{{t.date_Depart}}</td>
						<td>{{t.date_Arrive}}</td>
						<td>{{t.heure_Depart}}</td>
						<td>{{t.heure_Arrive}}</td>
						<td>{{t.escale}}</td>
						<td>{{t.prix}}</td>
						<td>{{t.gare_Depart}}</td>
						<td>{{t.gare_Arrive}}</td>
						<td><a class="btn btn-primary" style="padding: 1px 2px;"
							href="#"><i class="icofont icofont-pencil"
								style="font-size: 20px"></i></a> <a class="btn btn-danger"
							style="padding: 1px 2px;" ><i
								class="icofont icofont-bin" style="font-size: 20px"></i></a></td>

					</tr>
				</tbody>
			</table>
		</div>
		</app-card>

	</div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>


