<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div class="row">
	
	<div class="col-sm-12">
		<app-card [title]="'Offres disponibles'" [classHeader]="true"
			[blockClass]="'table-border-style'">

		<div class="table-responsive">
			<table class="table table-hover" id="offres">
				<thead class="bg-primary">
					<tr>

						<td>Offre N°</td>
						<td>Description</td>
						<td>date début</td>
						<td>date fin</td>
						<td>Actions</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let o of offres" class="table-inactive"
						style="cursor: pointer;">

						<td>{{o.idO}}</td>
						<td>{{o.libelle}}</td>
						<td>{{o.date_debut}}</td>
						<td>{{o.date_fin}}</td>
						<td><a class="btn btn-primary" style="padding: 1px 2px;"
							href="#"><i class="icofont icofont-pencil"
								style="font-size: 20px"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		</app-card>

		<ng-template #oModal>
		<div class="modal-header" style="background-color: #28e1bd;">
			<h4 class="modal-title">Offre</h4>
			<button type="button" class="btn cancel" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form name="form" (ngSubmit)="f.form.valid && saveO({title:'Confirmation', msg:'Offre ajoutée avec succès'
				, timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'success'})" #f="ngForm"
				novalidate>
				<div style="font-size: 13px" id="fiche" class="card-body row">

					<div class="col-sm-10" style="font-size: 13px">

						<div class="row spacer">
							<div class="col-auto">
								<label style="font-family: verdana">Decription</label>

								<div class="input-group mb">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="icofont icofont-map-marker"></i>
										</div>
									</div>
									<input style="font-size: 13px; font-family: verdana"
										type="text" class="form-control" id="libelle" name="libelle"
										[(ngModel)]="offre.libelle" #libelle="ngModel" required>
								</div>
							</div>
							<div class="col-auto">
								<label style="font-family: verdana">Date début</label> <input
									style="font-size: 13px; font-family: verdana" type="date"
									class="form-control" id="date_debut" name="date_debut"
									[(ngModel)]="offre.date_debut" #date_debut="ngModel" required>
							</div>
							<div class="col-auto">
								<label style="font-family: verdana">date fin</label> <input
									style="font-size: 13px; font-family: verdana" type="date"
									class="form-control" id="date_fin" name="date_fin"
									[(ngModel)]="offre.date_fin" #date_fin="ngModel" required>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button"
						style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px"
						class="btn btn-secondary" data-dismiss="modal">Close</button>
					<div class="row">
						<button class="btn btn-primary"
							style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px">Sauvegarder</button>
					</div>
				</div>
			</form>
		</div>
		</ng-template>
	</div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>



