gites {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#gites td, #gites th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#gites tr:nth-child(even){background-color: white;}

#gites tr:hover {background-color: #ddd;}

#gites th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1abc9c;
    color: white;
    text-align: center;
}

campings {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#campings td, #campings th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#campings tr:nth-child(even){background-color: white;}

#campings tr:hover {background-color: #ddd;}

#campings th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1abc9c;
    color: white;
    text-align: center;
}

residences {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#residences td, #residences th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#residences tr:nth-child(even){background-color: white;}

#residences tr:hover {background-color: #ddd;}

#residences th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1abc9c;
    color: white;
    text-align: center;
}