<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<section
	class="login p-fixed d-flex text-center bg-primary common-img-bg">
	<!-- starts -->
	<div class="auth-fluid">
		<div class="row">
			<div class="col-sm-12">
				<!-- Authentication card start -->
				<div class="login-card card-body auth-body">
					
						<form class="md-float-material" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

							<div class="auth-box">
								<div class="alert alert-danger" role="alert"
									*ngIf="errorMessage">{{errorMessage}}</div>
								<span id="reauth-email" class="reauth-email"></span>
								<div class="row m-b-20">
									<div class="col-md-3">
										<h3 class="text-center txt-primary">Se Connecter</h3>
									</div>
									<div class="col-md-9">
										<p class="text-inverse m-t-25 text-left">
											Vous n'avez pas de compte? <a
												[routerLink]="['/authentication/register']"> Créez en un </a>
											ici gratuitement !
										</p>
									</div>
								</div>
								<p class="text-inverse b-b-default text-left p-b-5">Connectez vous facilement avec les réseaux sociaux:</p>
								<div class="row m-b-20">
									<div class="col-md-6">
										<button class="btn btn-facebook m-b-20">
											<i class="icofont icofont-social-facebook"></i>Connectez vous avec Facebook
										</button>
									</div>
									<div class="col-md-6">
										<button class="btn btn-twitter m-b-20">
											<i class="icofont icofont-social-twitter"></i>Connectez vous avec Twitter
										</button>
									</div>
								</div>
								<p class="text-inverse b-b-default text-left p-b-5">Connectez vous avec votre compte habituel</p>
								<div class="form-group"
									[ngClass]="{ 'has-error': f.submitted && !username.valid }">
									<input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur"
										[(ngModel)]="user.username" #username="ngModel"> <span
										class="md-line"></span>
								</div>
								<div class="form-group"
									[ngClass]="{ 'has-error': f.submitted && !password.valid }">
									<input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="user.password"
										#password="ngModel"> <span class="md-line"></span>

								</div>
								<div class="row m-t-25 text-left">
									<div class="col-sm-6 col-xs-12">
										<div class="checkbox-fade fade-in-primary">
											<label> <input type="checkbox" value=""> <span
												class="cr"><i
													class="cr-icon icofont icofont-ui-check txt-primary"></i></span> <span
												class="text-inverse">Se souvenir de moi</span>
											</label>
										</div>
									</div>
									<div class="col-sm-6 col-xs-12 forgot-phone text-right">
										<a [routerLink]="['/authentication/forgot']"
											class="text-right f-w-600 text-inverse"> Mot de passe oublié?</a>
									</div>
								</div>
								<div class="row m-t-30">
									<div class="col-md-12">
										<button type="submit"
											class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Connexion</button>
									</div>
								</div>
							</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</section>