<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div class="row">
	<div class="col-sm-6" style="margin-top: 18px;">
		<div ngbDropdown class="dropdown-success dropdown open">
			<button ngbDropdownToggle
				class="btn btn-success dropdown-toggle waves-effect waves-light"
				type="button" id="dropdown-3" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="true">Ajouter un
				Hebergement</button>
			<div ngbDropdownMenu class="dropdown-menu"
				aria-labelledby="dropdown-3" data-dropdown-in="fadeIn"
				data-dropdown-out="fadeOut">
				<a class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;" (click)="verC(c, cModal)">Camping</a><a
					class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;" (click)="verG(g, gModal)">Gite</a> <a
					class="dropdown-item waves-light waves-effect"
					style="cursor: pointer;" (click)="verR(r, rModal)">Residence</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<!-- Basic table card start -->
		<app-card class="icofont icofont-map-marker"
			[title]="'Ajout Hebergement'" [classHeader]="true"
			[blockClass]="'table-border-style'">
			
			<form>
				<div style="font-size: 13px" id="fiche" class="card-body row">

					<div class="col-sm-12" style="font-size: 13px">
						<div class="form-group row">

							<div class="col-sm-3">
								<label style="font-family: verdana">Titre:</label>
								<div style="font-size: 13px" class="input-group mb">
									<div class="input-group-prepend">
										<div class="input-group-text"></div>
									</div>
									<input style="font-size: 13px" type="text" class="form-control"
										id="adresse" placeholder="Titre">
								</div>
							</div>

						</div>
					</div>
				</div>
			</form>

		<div class="table">

			<!-- Ajout Gite -->

			<ng-template #gModal>
			<div class="modal-header" style="background-color: #28e1bd;">
				<h4 class="modal-title">Gite</h4>
				<button type="button" class="btn cancel" data-dismiss="modal"
					(click)="cancelAction()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" (ngSubmit)="f.form.valid && saveGite()"
					#f="ngForm" novalidate>
					<div style="font-size: 13px" id="fiche" class="card-body row">

						<div class="col-sm-12" style="font-size: 13px">
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Libelle:</label>

									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="icofont icofont-map-marker"></i>
											</div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="libelle" class="form-control"
											[(ngModel)]="gite.libelle" #libelle="ngModel" required>
									</div>
								</div>
							</div>

							<div class="form-group row">

								<div class="col-sm-4">
									<label style="font-family: verdana">Adresse:</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="adresse" class="form-control"
										[(ngModel)]="gite.adresse" #adresse="ngModel" required>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Pays</label> <select
										name="pays" id="pays" class="form-control"
										[(ngModel)]="gite.pays" #pays="ngModel" required>
										
										<option value="France">France</option>

									</select>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Ville:</label> <select
										name="ville" id="ville" class="form-control"
										[(ngModel)]="gite.ville" #ville="ngModel" required>
										<option value="bourg">Bour-en-Bresse (01)</option>
										<option value="laon">Laon (02)</option>
										<option value="moulins">Moulins (03)</option>
										<option value="digne">Digne (04)</option>
										<option value="gap">Gap (05)</option>
										<option value="nice">Nice (06)</option>
										<option value="privas">Privas (07)</option>
										<option value="charleville">Charleville-Mézières (08)</option>
										<option value="foix">Foix (09)</option>
										<option value="troyes">Troyes (10)</option>
										<option value="carcassonne">Carcassonne (11)</option>
										<option value="rodez">Rodez (12)</option>
										<option value="marseille">Marseille (13)</option>
										<option value="caen">Caen (14)</option>
										<option value="aurillac">Aurilac (15)</option>
										<option value="angouleme">Angoulême (16)</option>
										<option value="larochelle">La Rochelle (17)</option>
										<option value="bourges">Bourges (18)</option>
										<option value="tulle">Tulle (19)</option>
										<option value="ajaccio">Ajaccio (2A)</option>
										<option value="bastia">Bastia (2B)</option>
										<option value="dijon">Dijon (21)</option>
										<option value="saintbrieuc">Saint-Brieuc (22)</option>
										<option value="gueret">Guéret (23)</option>
										<option value="perigueux">Périgueux (24)</option>
										<option value="besancon">Besançon (25)</option>
										<option value="lille">Valence (26)</option>
										<option value="evreux">Evreux (27)</option>
										<option value="chartres">Chartres (28)</option>
										<option value="quimper">Quimper (29)</option>
										<option value="nimes">Nîmes (30)</option>
										<option value="toulouse">Toulouse (31)</option>
										<option value="auch">Auch (32)</option>
										<option value="bordeaux">Bordeaux (33)</option>
										<option value="montpellier">Montpellier (34)</option>
										<option value="rennes">Rennes (35)</option>
										<option value="chateauroux">chateauroux (36)</option>
										<option value="tours">Tours (37)</option>
										<option value="grenoble">Grenoble (38)</option>
										<option value="lons">Lons-le-Saunier (39)</option>
										<option value="montdemarsan">Mont-de-Marsan (40)</option>
										<option value="blois">Blois (41)</option>
										<option value="saintetienne">Saint-Etienne (42)</option>
										<option value="lepuyenvelay">Le Puy-en-Velay (43)</option>
										<option value="nantes">Nantes (44)</option>
										<option value="orleans">Orléans (45)</option>
										<option value="cahors">Cahors (46)</option>
										<option value="agen">Agen (47)</option>
										<option value="mende">Mende (48)</option>
										<option value="angers">Angers (49)</option>
										<option value="saintlo">Saint-Lô (50)</option>
										<option value="chalons">Châlons-en-Champagne (51)</option>
										<option value="chaumont">Chaumont (52)</option>
										<option value="laval">Laval (53)</option>
										<option value="nancy">Nancy (54)</option>
										<option value="barleduc">Bar-le-Duc (55)</option>
										<option value="vannes">Vannes (56)</option>
										<option value="metz">Metz (57)</option>
										<option value="nevers">Nevers (58)</option>
										<option value="lille">Lille (59)</option>
										<option value="beauvais">Beauvais (60)</option>
										<option value="alencon">Alençon (61)</option>
										<option value="arras">Arras (62)</option>
										<option value="clermont">Clermont-Ferrand (63)</option>
										<option value="pau">Pau (64)</option>
										<option value="tarbes">Tarbes (65)</option>
										<option value="perpignan">Perpignan (66)</option>
										<option value="strasbourg">Strasbourg (67)</option>
										<option value="colmar">Colmar (68)</option>
										<option value="lyon">Lyon (69)</option>
										<option value="vesoul">Vesoul (70)</option>
										<option value="macon">Mâcon (71)</option>
										<option value="lemans">Le Mans (72)</option>
										<option value="chambery">Chambéry (73)</option>
										<option value="annecy">Annecy (74)</option>
										<option value="paris">Paris (75)</option>
										<option value="rouen">Rouen (76)</option>
										<option value="melun">Melun (77)</option>
										<option value="versailles">Versailles (78)</option>
										<option value="niort">Niort (79)</option>
										<option value="amiens">Amiens (80)</option>
										<option value="albi">Albi (81)</option>
										<option value="montauban">Montauban (82)</option>
										<option value="toulon">Toulon (83)</option>
										<option value="avignon">Avignon (84)</option>
										<option value="larochesuryon">La-Roche-sur-Yon (85)</option>
										<option value="poitiers">Poitiers (86)</option>
										<option value="limoges">Limoges (87)</option>
										<option value="epinal">Epinal (88)</option>
										<option value="auxerre">Auxerre (89)</option>
										<option value="belfort">Belfort (90)</option>
										<option value="evry">Evry (91)</option>
										<option value="nanterre">Nanterre (92)</option>
										<option value="bobigny">Bobigny (93)</option>
										<option value="creteil">Créteil (94)</option>
										<option value="pontoise">Pontoise (95)</option>

									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Code Postal</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="codePostal" class="form-control"
										[(ngModel)]="gite.codePostal" #codePostal="ngModel" required>

								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Prix:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="prix" class="form-control"
											[(ngModel)]="gite.prix" #prix="ngModel" required>
									</div>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Classement:</label> <select
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="classement" class="form-control"
										[(ngModel)]="gite.classement" #classement="ngModel" required>
										<option>Veuillez Choisir</option>
										<option value="1 etoile">1 etoile</option>
										<option value="2 etoiles">2 etoiles</option>
										<option value="3 etoiles">3 etoiles</option>
										<option value="4 etoiles">4 etoiles</option>
										<option value="5 etoiles">5 etoiles</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Repas:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<select style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="repas" class="form-control"
											[(ngModel)]="gite.repas" #repas="ngModel" required>
											<option>Veuillez Choisir</option>
											<option value="Avec">Avec</option>
											<option value="Sans">Sans</option>
										</select>
									</div>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Type de Gite:</label> <select
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="typeGite" class="form-control"
										[(ngModel)]="gite.typeGite" #typeGite="ngModel" required>
										<option>Veuillez Choisir</option>
										<option value="Gite a la ferme">Gite a la ferme</option>
										<option value="Gite communal">Gite communal</option>
										<option value="Gite de groupe">Gite de groupe</option>
										<option value="EcoGite">EcoGite</option>
									</select>
								</div>

								<div class="col-sm-4">
									<label style="font-family: verdana">Nombre d'étage:</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="nbrEtage" class="form-control"
										[(ngModel)]="gite.nbrEtage" #nbrEtage="ngModel" required>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Nombre de chambres:</label>
									<input style="font-size: 13px; font-family: verdana"
										type="text" name="type" id="nbrChambre" class="form-control"
										[(ngModel)]="gite.nbrChambres" #nbrChambres="ngModel" required>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button"
							style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px"
							class="btn btn-secondary" data-dismiss="modal">Close</button>
						<div class="row">
							<button class="btn btn-primary"
								style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px">Ajouter
								Gite</button>
						</div>


					</div>
				</form>
			</div>
			</ng-template>

			<!-- Fin Gite -->

		</div>

		<div class="table">

			<!-- Ajout Camping -->

			<ng-template #cModal>
			<div class="modal-header" style="background-color: #28e1bd;">
				<h4 class="modal-title">Camping</h4>
				<button type="button" class="btn cancel" data-dismiss="modal"
					(click)="cancelAction()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" (ngSubmit)="f.form.valid && saveCamping()"
					#f="ngForm" novalidate>
					<div style="font-size: 13px" id="fiche" class="card-body row">

						<div class="col-sm-12" style="font-size: 13px">
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Libelle:</label>

									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="icofont icofont-map-marker"></i>
											</div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="libelle" class="form-control"
											[(ngModel)]="camping.libelle" #libelle="ngModel" required>
									</div>
								</div>
							</div>

							<div class="form-group row">

								<div class="col-sm-4">
									<label style="font-family: verdana">Adresse:</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="adresse" class="form-control"
										[(ngModel)]="camping.adresse" #adresse="ngModel" required>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Pays</label> <select
										name="pays" id="pays" class="form-control"
										[(ngModel)]="camping.pays" #pays="ngModel" required>
										
										<option value="France">France</option>

									</select>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Ville:</label> <select
										name="ville" id="ville" class="form-control"
										[(ngModel)]="camping.ville" #ville="ngModel" required>
										<option value="bourg">Bour-en-Bresse (01)</option>
										<option value="laon">Laon (02)</option>
										<option value="moulins">Moulins (03)</option>
										<option value="digne">Digne (04)</option>
										<option value="gap">Gap (05)</option>
										<option value="nice">Nice (06)</option>
										<option value="privas">Privas (07)</option>
										<option value="charleville">Charleville-Mézières (08)</option>
										<option value="foix">Foix (09)</option>
										<option value="troyes">Troyes (10)</option>
										<option value="carcassonne">Carcassonne (11)</option>
										<option value="rodez">Rodez (12)</option>
										<option value="marseille">Marseille (13)</option>
										<option value="caen">Caen (14)</option>
										<option value="aurillac">Aurilac (15)</option>
										<option value="angouleme">Angoulême (16)</option>
										<option value="larochelle">La Rochelle (17)</option>
										<option value="bourges">Bourges (18)</option>
										<option value="tulle">Tulle (19)</option>
										<option value="ajaccio">Ajaccio (2A)</option>
										<option value="bastia">Bastia (2B)</option>
										<option value="dijon">Dijon (21)</option>
										<option value="saintbrieuc">Saint-Brieuc (22)</option>
										<option value="gueret">Guéret (23)</option>
										<option value="perigueux">Périgueux (24)</option>
										<option value="besancon">Besançon (25)</option>
										<option value="lille">Valence (26)</option>
										<option value="evreux">Evreux (27)</option>
										<option value="chartres">Chartres (28)</option>
										<option value="quimper">Quimper (29)</option>
										<option value="nimes">Nîmes (30)</option>
										<option value="toulouse">Toulouse (31)</option>
										<option value="auch">Auch (32)</option>
										<option value="bordeaux">Bordeaux (33)</option>
										<option value="montpellier">Montpellier (34)</option>
										<option value="rennes">Rennes (35)</option>
										<option value="chateauroux">chateauroux (36)</option>
										<option value="tours">Tours (37)</option>
										<option value="grenoble">Grenoble (38)</option>
										<option value="lons">Lons-le-Saunier (39)</option>
										<option value="montdemarsan">Mont-de-Marsan (40)</option>
										<option value="blois">Blois (41)</option>
										<option value="saintetienne">Saint-Etienne (42)</option>
										<option value="lepuyenvelay">Le Puy-en-Velay (43)</option>
										<option value="nantes">Nantes (44)</option>
										<option value="orleans">Orléans (45)</option>
										<option value="cahors">Cahors (46)</option>
										<option value="agen">Agen (47)</option>
										<option value="mende">Mende (48)</option>
										<option value="angers">Angers (49)</option>
										<option value="saintlo">Saint-Lô (50)</option>
										<option value="chalons">Châlons-en-Champagne (51)</option>
										<option value="chaumont">Chaumont (52)</option>
										<option value="laval">Laval (53)</option>
										<option value="nancy">Nancy (54)</option>
										<option value="barleduc">Bar-le-Duc (55)</option>
										<option value="vannes">Vannes (56)</option>
										<option value="metz">Metz (57)</option>
										<option value="nevers">Nevers (58)</option>
										<option value="lille">Lille (59)</option>
										<option value="beauvais">Beauvais (60)</option>
										<option value="alencon">Alençon (61)</option>
										<option value="arras">Arras (62)</option>
										<option value="clermont">Clermont-Ferrand (63)</option>
										<option value="pau">Pau (64)</option>
										<option value="tarbes">Tarbes (65)</option>
										<option value="perpignan">Perpignan (66)</option>
										<option value="strasbourg">Strasbourg (67)</option>
										<option value="colmar">Colmar (68)</option>
										<option value="lyon">Lyon (69)</option>
										<option value="vesoul">Vesoul (70)</option>
										<option value="macon">Mâcon (71)</option>
										<option value="lemans">Le Mans (72)</option>
										<option value="chambery">Chambéry (73)</option>
										<option value="annecy">Annecy (74)</option>
										<option value="paris">Paris (75)</option>
										<option value="rouen">Rouen (76)</option>
										<option value="melun">Melun (77)</option>
										<option value="versailles">Versailles (78)</option>
										<option value="niort">Niort (79)</option>
										<option value="amiens">Amiens (80)</option>
										<option value="albi">Albi (81)</option>
										<option value="montauban">Montauban (82)</option>
										<option value="toulon">Toulon (83)</option>
										<option value="avignon">Avignon (84)</option>
										<option value="larochesuryon">La-Roche-sur-Yon (85)</option>
										<option value="poitiers">Poitiers (86)</option>
										<option value="limoges">Limoges (87)</option>
										<option value="epinal">Epinal (88)</option>
										<option value="auxerre">Auxerre (89)</option>
										<option value="belfort">Belfort (90)</option>
										<option value="evry">Evry (91)</option>
										<option value="nanterre">Nanterre (92)</option>
										<option value="bobigny">Bobigny (93)</option>
										<option value="creteil">Créteil (94)</option>
										<option value="pontoise">Pontoise (95)</option>

									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Code Postal</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="codePostal" class="form-control"
										[(ngModel)]="camping.codePostal" #codePostal="ngModel"
										required>

								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Prix:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="prix" class="form-control"
											[(ngModel)]="camping.prix" #prix="ngModel" required>
									</div>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Classement:</label> <select
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="classement" class="form-control"
										[(ngModel)]="camping.classement" #classement="ngModel"
										required>
										<option>Veuillez Choisir</option>
										<option value="1 etoile">1 etoile</option>
										<option value="2 etoiles">2 etoiles</option>
										<option value="3 etoiles">3 etoiles</option>
										<option value="4 etoiles">4 etoiles</option>
										<option value="5 etoiles">5 etoiles</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Repas:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<select style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="repas" class="form-control"
											[(ngModel)]="camping.repas" #repas="ngModel" required>
											<option>Veuillez Choisir</option>
											<option value="Avec">Avec</option>
											<option value="Sans">Sans</option>
										</select>
									</div>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Type de camping:</label> <select
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="typecamping" class="form-control"
										[(ngModel)]="camping.typeCamping" #typeCamping="ngModel"
										required>
										<option>Veuillez Choisir</option>
										<option value="Camping rural">6 places max</option>
										<option value="Aire Naturelle">25 places max</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button"
							style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px"
							class="btn btn-secondary" data-dismiss="modal">Close</button>
						<div class="row">
							<button class="btn btn-primary"
								style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px">Ajouter
								camping</button>
						</div>


					</div>
				</form>
			</div>
			</ng-template>

			<!-- Fin camping -->

		</div>
		
		<div class="table">
		
		<!-- Debut residence -->
			
			<ng-template #rModal>
			<div class="modal-header" style="background-color: #28e1bd;">
				<h4 class="modal-title">Residence</h4>
				<button type="button" class="btn cancel" data-dismiss="modal"
					(click)="cancelAction()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form" (ngSubmit)="f.form.valid && saveResidence()"
					#f="ngForm" novalidate>
					<div style="font-size: 13px" id="fiche" class="card-body row">

						<div class="col-sm-12" style="font-size: 13px">
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Libelle:</label>

									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="icofont icofont-map-marker"></i>
											</div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="libelle" class="form-control"
											[(ngModel)]="residence.libelle" #libelle="ngModel" required>
									</div>
								</div>
							</div>

							<div class="form-group row">

								<div class="col-sm-4">
									<label style="font-family: verdana">Adresse:</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="adresse" class="form-control"
										[(ngModel)]="residence.adresse" #adresse="ngModel" required>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Pays</label> <select
										name="pays" id="pays" class="form-control"
										[(ngModel)]="residence.pays" #pays="ngModel" required>
										
										<option value="France">France</option>

									</select>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Ville:</label> <select
										name="ville" id="ville" class="form-control"
										[(ngModel)]="residence.ville" #ville="ngModel" required>
										<option value="bourg">Bour-en-Bresse (01)</option>
										<option value="laon">Laon (02)</option>
										<option value="moulins">Moulins (03)</option>
										<option value="digne">Digne (04)</option>
										<option value="gap">Gap (05)</option>
										<option value="nice">Nice (06)</option>
										<option value="privas">Privas (07)</option>
										<option value="charleville">Charleville-Mézières (08)</option>
										<option value="foix">Foix (09)</option>
										<option value="troyes">Troyes (10)</option>
										<option value="carcassonne">Carcassonne (11)</option>
										<option value="rodez">Rodez (12)</option>
										<option value="marseille">Marseille (13)</option>
										<option value="caen">Caen (14)</option>
										<option value="aurillac">Aurilac (15)</option>
										<option value="angouleme">Angoulême (16)</option>
										<option value="larochelle">La Rochelle (17)</option>
										<option value="bourges">Bourges (18)</option>
										<option value="tulle">Tulle (19)</option>
										<option value="ajaccio">Ajaccio (2A)</option>
										<option value="bastia">Bastia (2B)</option>
										<option value="dijon">Dijon (21)</option>
										<option value="saintbrieuc">Saint-Brieuc (22)</option>
										<option value="gueret">Guéret (23)</option>
										<option value="perigueux">Périgueux (24)</option>
										<option value="besancon">Besançon (25)</option>
										<option value="lille">Valence (26)</option>
										<option value="evreux">Evreux (27)</option>
										<option value="chartres">Chartres (28)</option>
										<option value="quimper">Quimper (29)</option>
										<option value="nimes">Nîmes (30)</option>
										<option value="toulouse">Toulouse (31)</option>
										<option value="auch">Auch (32)</option>
										<option value="bordeaux">Bordeaux (33)</option>
										<option value="montpellier">Montpellier (34)</option>
										<option value="rennes">Rennes (35)</option>
										<option value="chateauroux">chateauroux (36)</option>
										<option value="tours">Tours (37)</option>
										<option value="grenoble">Grenoble (38)</option>
										<option value="lons">Lons-le-Saunier (39)</option>
										<option value="montdemarsan">Mont-de-Marsan (40)</option>
										<option value="blois">Blois (41)</option>
										<option value="saintetienne">Saint-Etienne (42)</option>
										<option value="lepuyenvelay">Le Puy-en-Velay (43)</option>
										<option value="nantes">Nantes (44)</option>
										<option value="orleans">Orléans (45)</option>
										<option value="cahors">Cahors (46)</option>
										<option value="agen">Agen (47)</option>
										<option value="mende">Mende (48)</option>
										<option value="angers">Angers (49)</option>
										<option value="saintlo">Saint-Lô (50)</option>
										<option value="chalons">Châlons-en-Champagne (51)</option>
										<option value="chaumont">Chaumont (52)</option>
										<option value="laval">Laval (53)</option>
										<option value="nancy">Nancy (54)</option>
										<option value="barleduc">Bar-le-Duc (55)</option>
										<option value="vannes">Vannes (56)</option>
										<option value="metz">Metz (57)</option>
										<option value="nevers">Nevers (58)</option>
										<option value="lille">Lille (59)</option>
										<option value="beauvais">Beauvais (60)</option>
										<option value="alencon">Alençon (61)</option>
										<option value="arras">Arras (62)</option>
										<option value="clermont">Clermont-Ferrand (63)</option>
										<option value="pau">Pau (64)</option>
										<option value="tarbes">Tarbes (65)</option>
										<option value="perpignan">Perpignan (66)</option>
										<option value="strasbourg">Strasbourg (67)</option>
										<option value="colmar">Colmar (68)</option>
										<option value="lyon">Lyon (69)</option>
										<option value="vesoul">Vesoul (70)</option>
										<option value="macon">Mâcon (71)</option>
										<option value="lemans">Le Mans (72)</option>
										<option value="chambery">Chambéry (73)</option>
										<option value="annecy">Annecy (74)</option>
										<option value="paris">Paris (75)</option>
										<option value="rouen">Rouen (76)</option>
										<option value="melun">Melun (77)</option>
										<option value="versailles">Versailles (78)</option>
										<option value="niort">Niort (79)</option>
										<option value="amiens">Amiens (80)</option>
										<option value="albi">Albi (81)</option>
										<option value="montauban">Montauban (82)</option>
										<option value="toulon">Toulon (83)</option>
										<option value="avignon">Avignon (84)</option>
										<option value="larochesuryon">La-Roche-sur-Yon (85)</option>
										<option value="poitiers">Poitiers (86)</option>
										<option value="limoges">Limoges (87)</option>
										<option value="epinal">Epinal (88)</option>
										<option value="auxerre">Auxerre (89)</option>
										<option value="belfort">Belfort (90)</option>
										<option value="evry">Evry (91)</option>
										<option value="nanterre">Nanterre (92)</option>
										<option value="bobigny">Bobigny (93)</option>
										<option value="creteil">Créteil (94)</option>
										<option value="pontoise">Pontoise (95)</option>

									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Code Postal</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="codePostal" class="form-control"
										[(ngModel)]="residence.codePostal" #codePostal="ngModel" required>

								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Prix:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<input style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="prix" class="form-control"
											[(ngModel)]="residence.prix" #prix="ngModel" required>
									</div>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Classement:</label> <select
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="classement" class="form-control"
										[(ngModel)]="residence.classement" #classement="ngModel" required>
										<option>Veuillez Choisir</option>
										<option value="1 etoile">1 etoile</option>
										<option value="2 etoiles">2 etoiles</option>
										<option value="3 etoiles">3 etoiles</option>
										<option value="4 etoiles">4 etoiles</option>
										<option value="5 etoiles">5 etoiles</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-4">
									<label style="font-family: verdana">Repas:</label>
									<div class="input-group mb">
										<div class="input-group-prepend">
											<div class="input-group-text"></div>
										</div>
										<select style="font-size: 13px; font-family: verdana"
											type="text" name="type" id="repas" class="form-control"
											[(ngModel)]="residence.repas" #repas="ngModel" required>
											<option>Veuillez Choisir</option>
											<option value="Avec">Avec</option>
											<option value="Sans">Sans</option>
										</select>
									</div>
								</div>

								<div class="col-sm-4">
									<label style="font-family: verdana">Nombre d'étage:</label> <input
										style="font-size: 13px; font-family: verdana" type="text"
										name="type" id="nbrEtage" class="form-control"
										[(ngModel)]="residence.nbrEtage" #nbrEtage="ngModel" required>
								</div>
								<div class="col-sm-4">
									<label style="font-family: verdana">Nombre de chambres:</label>
									<input style="font-size: 13px; font-family: verdana"
										type="text" name="type" id="nbrChambre" class="form-control"
										[(ngModel)]="residence.nbrChambre" #nbrChambre="ngModel" required>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button"
							style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px"
							class="btn btn-secondary" data-dismiss="modal">Close</button>
						<div class="row">
							<button class="btn btn-primary"
								style="height: 30px; text-align: center; padding-top: 5px; margin-top: 10px; margin-bottom: 10px">Ajouter
								Residence</button>
						</div>


					</div>
				</form>
			</div>
			</ng-template>

			<!-- Fin residence -->
		</div>

		</app-card>

		<!-- affiche gites -->

		<app-card [title]="'Liste des Gites'" [classHeader]="true"
			[blockClass]="'table-border-style'">

		<div class="table-responsive">
			<table class="table table-hover" id="gites">
				<thead class="bg-primary">
					<tr>
						<td></td>
						<td>Gite N°</td>
						<td>Libelle</td>
						<td>Adresse</td>
						<td>Classement</td>
						<td>Type</td>
						<td>Pays</td>
						<td>Ville</td>
						<td>Code postal</td>
						<td>Prix</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let g of gites">
						<td>
							<button style="padding: 1px 2px;" class="btn btn-warning">modifier</button>
							<button style="padding: 1px 2px;" class="btn btn-danger">supprimer</button>
						</td>
						<td>{{g.id}}</td>
						<td>{{g.libelle}}</td>
						<td>{{g.adresse}}</td>
						<td>{{g.classement}}</td>
						<td>{{g.typeGite}}</td>
						<td>{{g.pays}}</td>
						<td>{{g.ville}}</td>
						<td>{{g.codePostal}}</td>
						<td>{{g.prix}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</app-card>

		<!-- affiche camping -->

		<app-card [title]="'Liste des Campings'" [classHeader]="true"
			[blockClass]="'table-border-style'">

		<div class="table-responsive">
			<table class="table table-hover" id="campings">
				<thead class="bg-primary">
					<tr>
						<td></td>
						<td>Camping N°</td>
						<td>Libelle</td>
						<td>Adresse</td>
						<td>Classement</td>
						<td>Pays</td>
						<td>Ville</td>
						<td>Code postal</td>
						<td>Prix</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let c of campings">
						<td>
							<button style="padding: 1px 2px;" class="btn btn-warning">modifier</button>
							<button style="padding: 1px 2px;" class="btn btn-danger">supprimer</button>
						</td>
						<td>{{c.id}}</td>
						<td>{{c.libelle}}</td>
						<td>{{c.adresse}}</td>
						<td>{{c.classement}}</td>
						<td>{{c.pays}}</td>
						<td>{{c.ville}}</td>
						<td>{{c.codePostal}}</td>
						<td>{{c.prix}}</td>

					</tr>
				</tbody>
			</table>
		</div>
		</app-card>

	<!-- affiche residence -->

		<app-card [title]="'Liste des Résidences Hôtelières'" [classHeader]="true"
			[blockClass]="'table-border-style'">

		<div class="table-responsive">
			<table class="table table-hover" id="residences">
				<thead class="bg-primary">
					<tr>
						<td></td>
						<td>Résidence N°</td>
						<td>Libelle</td>
						<td>Adresse</td>
						<td>Classement</td>
						<td>Pays</td>
						<td>Ville</td>
						<td>Code postal</td>
						<td>Prix</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let r of residences">
						<td>
							<button style="padding: 1px 2px;" class="btn btn-warning">modifier</button>
							<button style="padding: 1px 2px;" class="btn btn-danger">supprimer</button>
						</td>
						<td>{{r.id}}</td>
						<td>{{r.libelle}}</td>
						<td>{{r.adresse}}</td>
						<td>{{r.classement}}</td>
						<td>{{r.pays}}</td>
						<td>{{r.ville}}</td>
						<td>{{r.codePostal}}</td>
						<td>{{r.prix}}</td>

					</tr>
				</tbody>
			</table>
		</div>
		</app-card>
	
	</div>
</div>



